.imagem2{
    background-image: url(https://i.pinimg.com/originals/84/cf/45/84cf459061b9229caef85e2d26aaa67d.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
    font-style: oblique;
    font-size: 4rem !important ;
    color: rgb(150, 99, 166);
    text-shadow: 2px 2px 2px palevioletred;
}

.btnCancelar{
    margin-right: 20px !important;
    background-color: cornflowerblue !important;
    color:black !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
}

.btnCadastrar{
    background-color: rgb(130, 100, 237) !important;
    color:black !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;

}